<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
<style>
#survey-list{
position: sticky;
top: 40px;
z-index: 99;
}
.survey-card{
width: 500px;
height: 250px;
}
.time-span{
text-align: left;
}
.question-span{
color: white;
}
#button-group{
text-align: center;
margin-top: 25px;
margin-bottom: 25px;
}
.margin-div{
height: 150px;
}
#surveyForm input{
text-align: center;
}
.answer-span{
font-weight: bold;
font-size: medium;
}
.title{
font-weight: bold;
font-size: large;
}
.breadcrumb-item{
font-weight: bolder;
font-size: large;
}
.breadcrumb-item a{
text-decoration: none;
}
</style>
</head>
<body>
<th:block th:replace="fragments/navbar.html::navbarFragment"/>
<div id="survey-wrap" class="container survey-wrap">
    <div class="container">
        <div id="survey-list" class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li th:each="i : ${#numbers.sequence(0, survey.surveyCount)}" class="breadcrumb-item">
                        <a th:if="${i == 0}" th:href="'#list-item-'+${i}">설문지 소개</a>
                        <a th:if="${i != 0}" th:href="'#list-item-'+${i}" th:text="${i} + '번 설문지'"></a>
                    </li>
<!--                    <li class="breadcrumb-item"><a href="#" style="color: red">신고하기</a></li>-->
                </ol>
            </nav>
        </div>
        <div data-spy="scroll">
            <form id="surveyForm">
                <div id="list-item-0" class="margin-div"></div>
                <div class="card text-center">
                    <div class="card-header">
                        <h3><span th:text="${survey.resultCount} + '명이 이 설문지에 참여했습니다.'" class="badge bg-secondary question-span"></span></h3>
                        <div class="row">
                            <div class="col-12">
                                <h3><span class="badge bg-secondary question-span">설문지 소개</span></h3>
                                <input type="hidden" name="surveyNo" th:value="${survey.surveyNo}">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            <span th:text="${survey.time}" class="badge badge-pill badge-primary time-span"></span>
                            <span th:text="'작성자 : '+${survey.memberNickname}" th:class="${survey.memberNickname == '설사킹isADMIN'} ? 'badge badge-success' : 'badge badge-info'"></span>
                            <span th:text="'참여기간 : '+${survey.surveyDate}+'~'+${survey.surveyEndDate}" class="badge badge-warning "></span>
                            <span th:text="'조회수 : '+${survey.surveyHit}" class="badge badge-pill badge-primary "></span>
                        </p>
                        <img th:if="${survey.thumbnailPath != null}" th:src="${survey.thumbnailPath}" class="img-fluid img-thumbnail survey-card">
                        <img th:if="${survey.thumbnailPath == null}" th:src="@{/img/welcome-8386_128.gif}" class="img-fluid img-thumbnail survey-card"><br>
                        <span th:if="${survey.thumbnailPath == null}" class="badge badge-danger">등록된 썸네일이 없습니다.</span>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="row">
                            <div class="col-12">
                                <p th:text="${survey.surveyTitle}" class="card-text title"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-wrap">
                <th:block th:each="question : ${survey.questionList}">
                <div th:id="'list-item-' + ${question.questionSeq}" class="margin-div"></div>
                    <input type="hidden" th:name="'surveyFormList[' + ${questionStat.index} + '].questionNo'" th:value="${question.questionNo}"/>
                <div class="card text-center clone-question">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <span th:text="${question.questionSeq} + '번 설문지'" class="badge bg-secondary question-span"></span>
                                </h3>
                            </div>
                            <div class="col-12">
                                <p th:text="${question.questionTitle}" class="title"></p>
                            </div>
                        </div>
                    </div>
                    <div th:if="${question.questionPath != null}" class="card-body">
                        <img th:src="${question.questionPath}" class="img-fluid img-thumbnail survey-card">
                    </div>
                    <div th:if="${question.questionPath == null}" class="card-body">
                        <img th:src="@{/img/welcome-8386_128.gif}" class="img-fluid img-thumbnail survey-card"><br>
                        <span class="badge badge-danger">등록된 이미지가 없습니다.</span>
                    </div>
                    <div class="card-body">
                        <div th:if="${question.answer1 != null}">
                            <label th:for="'answer1' + ${questionStat.index}" class="col-12">
                                <input th:id="'answer1' + ${questionStat.index}" th:name="'surveyFormList[' + ${questionStat.index} + '].answerNo'" value="1" type="radio">
                                <span th:text="${question.answer1}" class="answer-span"></span>
                            </label>
                        </div>
                        <div th:if="${question.answer2 != null}">
                            <label th:for="'answer2' + ${questionStat.index}" class="col-12">
                                <input th:id="'answer2' + ${questionStat.index}" th:name="'surveyFormList[' + ${questionStat.index} + '].answerNo'" value="2" type="radio">
                                <span th:text="${question.answer2}" class="answer-span"></span>
                            </label>
                        </div>
                        <div th:if="${question.answer3 != null}">
                            <label th:for="'answer3' + ${questionStat.index}" class="col-12">
                                <input th:id="'answer3' + ${questionStat.index}" th:name="'surveyFormList[' + ${questionStat.index} + '].answerNo'" value="3" type="radio">
                                <span th:text="${question.answer3}" class="answer-span"></span>
                            </label>
                        </div>
                        <div th:if="${question.answer4 != null}">
                            <label th:for="'answer4' + ${questionStat.index}" class="col-12">
                                <input th:id="'answer4' + ${questionStat.index}" th:name="'surveyFormList[' + ${questionStat.index} + '].answerNo'" value="4" type="radio">
                                <span th:text="${question.answer4}" class="answer-span"></span>
                            </label>
                        </div>
                        <div th:if="${question.answer5 != null}">
                            <label th:for="'answer5' + ${questionStat.index}" class="col-12">
                                <input th:id="'answer5' + ${questionStat.index}" th:name="'surveyFormList[' + ${questionStat.index} + '].answerNo'" value="5" type="radio">
                                <span th:text="${question.answer5}" class="answer-span"></span>
                            </label>
                        </div>
                    </div>
                </div>
                </th:block>
                </div>
            </form>
        </div>
        <div id="button-group" class="container">
            <div class="col-12">
                <th:block th:if="${session.loginMember == null}">
                    <a th:href="@{/survey/list/(page=${pageInfo.page},searchType=${pageInfo.searchType},searchContent=${pageInfo.searchContent})}" class="btn btn-warning col-4">이전</a>
                </th:block>
                <th:block th:if="${session.loginMember != null}">
                    <a th:href="@{/survey/list/(page=${pageInfo.page},searchType=${pageInfo.searchType},searchContent=${pageInfo.searchContent})}" class="btn btn-warning col-3">이전</a>
                    <button id="button" th:value="${pageInfo.page}+','+${pageInfo.searchType}+','+${pageInfo.searchContent}" class="btn btn-success col-3" type="submit" onclick="submit()">설사제출</button>
                    <button th:if="${session.loginMember.memberNo == survey.memberNo || session.loginMember.memberRole == 'A'}" th:value="${survey.surveyNo}" class="btn btn-danger col-3" type="button" onclick="deleteSurvey(this)">삭제</button>
                </th:block>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="blank_div"></div>
        <h3>TAKE YOUR SURVEY!</h3>
        <div class="blank_div"></div>
    </div>
</footer>
<script>
function deleteSurvey(value){
    let surveyNo = $(value).val();
    alert(surveyNo);
    if (confirm('정말로 이 설사를 삭제하시겠습니까?')){
        $.ajax({
            type: "POST",
            url: '/survey/delete',
            data: {surveyNo : surveyNo},
            success: function (response) {
                if (response) {
                    alert('삭제되었습니다.');
                    window.location.href='/survey/list';
                } else {
                    alert('유효한 설문지가 아닙니다.');
                    window.location.href='/survey/list';
                }
            },
            error: function (error) {
                alert('잠시 후 다시 시도해주세요. \n 문제가 지속되면 관리자에게 문의해주세요.');
            },
        });
    }
}

function submit(){
    if (submitCheck()){
        sendFormData(formDataCollect());
    }
}

function sendFormData(formData){
    $.ajax({
        type: "POST",
        url: "/survey/save/result",
        data: formData,
        processData: false, //formData 를 아무간섭, 변경없이 보내기 위해 설정함
        contentType: false,
        success: function (response) {
            if (response.result) {
                redirect(response);
            } else {
                let message = response.message;
                alert(message);
            }
        },
        error: function (error) {
            alert('잠시 후 다시 시도해주세요. \n 문제가 지속되면 관리자에게 문의해주세요.');
        },
    });
}

function redirect(response){
    let param = response.param;
    let pageInfo = $('#button').val().split(',');
    let page = pageInfo[0];
    let searchType = parseInt(pageInfo[1]);
    if (isNaN(searchType)){
        searchType = 0;
    }
    let searchContent = pageInfo[2];
    let url = `/survey/result/${param}?page=${page}&searchType=${searchType}&searchContent=${searchContent}`;
    window.location.href = url;
}

function formDataCollect() {
    const formData = new FormData($('#surveyForm')[0]);
    return formData;
}

function submitCheck() {
    let questions = document.querySelectorAll('.clone-question');
    let isValid = true;
    for (let i = 0; i < questions.length; i++) {
        let radios = questions[i].querySelectorAll('input[type="radio"]');
        let checked = false;
        for (let j = 0; j < radios.length; j++) {
            if (radios[j].checked) {
                checked = true;
                break;
            }
        }
        if (!checked) {
            isValid = false;
            break;
        }
    }
    if (isValid) {
        return true;
    } else {
        alert("아직 체크하지 않은 문항이 있습니다.");
        return false;
    }
}
</script>
</body>
</html>