<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
<style>
h2{
text-align: center;
}
form * {
padding: 5px;
}
form input,span {
text-align: center;
align-items: center;
}
.button-group{
padding: 10px;
text-align: center;
}
textarea{
resize: none;
}
.field-error{
border-color: #dc3545;
color: #dc3545;
text-align: center;
}
</style>
</head>
<body>
<th:block th:replace="fragments/navbar.html::navbarFragment"/>
<div class="container">
    <form th:action="@{/notice/save}" th:object="${noticeFormDTO}" th:method="post" onsubmit="return submitCheck()">
        <h2>공지사항</h2>
        <div class="row">
            <div class="col-sm-6">
                <span>작성자</span>
                <span th:text="${session.loginMember.memberNickname}"></span>
            </div>
            <div class="col-sm-6">
                <input type="hidden" class="form-control-plaintext form-control" name="memberNo" id="writeId" th:value="${session.loginMember.memberNo}">
                <span>작성날짜</span>
                <span th:text="${#dates.format(currentTime, 'yyyy-MM-dd')}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <span>제목</span>
            </div>
            <div class="col-sm-9">
                <textarea th:field="*{boardTitle}" th:errorclass="field-error" name="boardTitle" class="form-control" id="title" rows="1" placeholder="30자 이내로 제목을 작성해주세요." oninput="autoSize(this)"></textarea>
                <p th:errors="*{boardTitle}" class="field-error"></p>
            </div>
        </div>
        <input type="hidden" id="boardContent" name="boardContent">
        <input type="hidden" id="boardMarkDown" name="boardMarkDown">
        <div class="row">
            <div class="col-12">
                <span>내용</span>
                <p th:errors="*{boardMarkDown}" class="field-error"></p>
            </div>
            <div id="content" class="col-12"></div>
        </div>
        <div class="button-group">
            <button type="submit" class="btn btn-success">등록</button>
            <button type="button" class="btn btn-danger">취소</button>
        </div>
    </form>
</div>
<footer>
    <div class="container">
        <div class="blank_div"></div>
        <h3>TAKE YOUR SURVEY!</h3>
        <div class="blank_div"></div>
    </div>
</footer>
<script>
function autoSize(value) {
    value.style.height = 'auto';
    value.style.height = (value.scrollHeight) + 'px';
}

const editor = new toastui.Editor({
    el: document.querySelector('#content'),
    height: '500px',
    initialEditType: 'markdown',
    previewStyle: 'vertical',
    hooks: {
        async addImageBlobHook(blob, callback) {
            const allowedTypes = ["jpeg", "jpg", "png", "gif"];
            const fileName = blob.type;
            const fileExt = fileName.split("/").pop();
            if (allowedTypes.includes(fileExt)) {
                const formData = new FormData();
                formData.append('file', blob);
                const response = await fetch('/notice/image/upload', {
                    method : 'post',
                    body : formData,
                });
                const filePath = await response.text();
                callback(filePath);
            }else {
                alert("JPG, JPEG, PNG, GIF 파일만 지원합니다. 다시 선택해주세요.");
            }
        }
    }
});
function submitCheck(){
    if ($('#title').val().length < 1){
        alert('제목을 작성해주세요.');
        return false;
    }
    if (editor.getMarkdown().length < 1){
        alert('내용을 작성해주세요.');
        return false;
    }
    $('#boardContent').val(editor.getHTML());
    $('#boardMarkDown').val(editor.getMarkdown());
    return true;
}
</script>
</body>
</html>